/* CheckoutPage.css */

/* Container styling */
.checkout-container {
  width: 70%;
  margin: 80px auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 475px;  
  overflow-y: auto;   
}

/* Checkout form styling */
.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Checkout items styling */
.checkout-items {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  max-height: 300px; 
  overflow-y: auto;  
}

/* Each item in the list */
.checkout-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.checkout-items li span {
  flex: 1;
  text-align: left;
}

.checkout-items li strong {
  flex-shrink: 0;
  text-align: right;
  padding-left: 10px;
}

.total-price {
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

.card-element {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Main action button styling */
.checkout-page-submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1FC180; /* Primary button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth hover transition */
}

.checkout-page-submit-button:hover {
  background-color: #17a45a; /* Darker shade on hover */
}

.checkout-page-submit-button:disabled {
  background-color: #aaa; /* Disabled button style */
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Overlay styling */
.checkout-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other content */
}

/* Thank-you message styling */
.checkout-page-thank-you-modal {
  background: white;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
}

/* Button container styling */
.checkout-page-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.checkout-page-button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5bc0de; /* Secondary button color */
  color: white;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
  margin: 0 10px;
  transition: background-color 0.3s; /* Smooth hover transition */
}

.checkout-page-button-container button:hover {
  background-color: #31b0d5; /* Darker shade on hover */
}

.sale-label {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
  margin-left: 5px;
}



  
  
  
  
