/* ProductDetail.css */

/* Container for product details */
.product-detail-container {
  text-align: center;
  margin-top: 20px;
}

.product-detail-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-detail-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.product-detail-description {
  margin: 10px 0;
}

.product-detail-price {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-detail-add-to-cart-button {
  margin-top: 10px;
  padding: 20px 30px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

/* Container for the buttons */
.product-detail-button-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 10px;
}

.product-detail-back-to-products-button,
.product-detail-back-to-home-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  height: auto;
}

.product-detail-back-to-products-button {
  background-color: #1FC180;
  color: white;
  margin-right: 40px;
}

.product-detail-back-to-home-button {
  background-color: black;
  color: white;
  margin-left: 40px;
}

.product-detail-add-to-wishlist-button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.product-detail-add-to-wishlist-button:hover {
  background-color: #ff3385;
}



  
  
  